.profilePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 5% auto;
}

.profileContent {
  margin-left: 1rem;
}

.profileCalendar {
  margin: 2rem 0;
}

.profileTable {
  height: 370px;
  overflow-y: auto;
}

.profileTable h2{
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.profileTable::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1400px) {
  .profilePage {
    flex-direction: column;
  }

  .profileContent {
    margin-left: 0;
  }

  .profileTable {
    height: max-content;
  }
}
