.ProfileSection {
  width: 616px;
  height: 707px;
  position: relative;
  background: #d9d9d9;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 3rem;

  display: flex;
  flex-direction: column;
}

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserSProfilePic {
  padding: 1rem;
  margin: 2rem;
  position: relative;
}

.UserSProfilePic img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 5px white solid;
}

.Name {
  position: relative;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: "Varela Round";
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.Email {
  position: relative;
  text-align: center;
  color: rgba(102, 102, 102, 0.8);
  font-size: 25px;
  font-family: "Varela Round";
  font-weight: 400;
  word-wrap: break-word;
}

.Contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.ContactsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.ContactsIcon {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.ContactsText {
  color: black;
  font-size: 15px;
  font-family: "Varela Round";
  font-weight: 400;
  word-wrap: break-word;
}

.Dot {
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 100%;
  margin: 0 0.5rem;
}
