.newsPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 10% auto;
}

.uploadSection {
  margin-bottom: 20px;
  text-align: center;
}

.videoInput {
  margin-bottom: 10px;
}

.uploadButton {
  padding: 10px;
  color: white;
}

.uploadSpinner {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.videoSection {
  text-align: center;
  margin-bottom: 1rem;
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 440px;
  overflow-y: scroll;
}

.videoBlock {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.videoName {
  font-size: 10px;
  margin: 0.1rem 0;
}

@media screen and (max-width: 1400px) {
  .learnPage {
    flex-direction: column;
  }
}
