.Sidebar {
  width: 130px;
  background: #152238;
  transition: transform 0.3s ease;
}

.SidebarList {
  margin: 3rem;
}

.SidebarList #active {
    fill: blueviolet;
}

.Section {
  margin-bottom: 4rem;
  list-style-type: none;
}

.Section #icon img {
  width: 30px;
}

.Section #icon img:hover {
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .Sidebar {
    display: none;
  }
}
