.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #152238;
  transition: transform 0.3s ease;
}

.SidebarList {
  margin: 3rem;
}

.SidebarList .active #icon img {
  fill: rgb(255, 175, 0); /* Doesn't work yet */
}

.Section {
  margin-bottom: 4rem;
  list-style-type: none;
}

.Section #icon img {
  width: 30px;
  transition: fill 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .Sidebar {
    display: none;
  }
}
