.homePage {
  width: 100%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(93, 39, 10, 1) 6%,
    rgba(0, 0, 0, 1) 64%
  );
}

.homePageSignIn {
  margin: 20rem 0rem;
}

.homePageSignIn img {
  width: 350px;
  position: relative;
  cursor: pointer;
}
